.header {
    display: flex;
    height: 40px;
    color: #fff;
}

.logo-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.link-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    gap: 15px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.add-button {
    background-color: #593C8F;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.add-button:hover {
    background-color: transparent;
    border: 1px solid #593C8F;
    color: #fff !important;
}

.link:hover {
    color: #593C8F;
}